Purpose of this platform is more so to create a central social hub for the business team. There the social aspects (posting, teams, etc) are more prevelant than the business functionality aspects. The other platforms we use take care of business functionality (LLC, Amway). This platform consolidates the communication aspect for our teams and give more control and flexibility to us versus using other platforms such as whats app, telegram, discord, etc.


Harnesses and Routes:
Admin
  dashboard (shows system stats, health, number of users total versus online etc)
  settings
  tables (show related data in tables and any needed reportable data)
  utils

Auth
  login
  register
  
Index (go here at the beginning when you aren't logged in yet)

Landing (once you are logged in it takes you to the landing page which is like the central hub; choose there you want to go: channels corner, admin corner if applicable, contact us, profile)

Profile
  read-only
  manage
  browse
  los (will show how each person is related to you. When creating profile you are associated to your upline so its easy to show)

Channels -- begins channels content (admin can create,manage, delete, and browse all channels)
  *community
    guidelines
    mission_vision_values
    announcements (annoucement board; some content can also be shown on a banner on the dashboard or global feed or linked in some way) Posts of type announcement 
      browse
      create
      view
      delete
      manage
    questions (wall of questions; can add categories to question instances too)
      browse
      create
      view
      delete
      manage
    response
      create (tied to a specific question instance)
      delete
      manage
    teams  (admin can manipulate smaller team data)
      create (create a specific team instance)
      view  (view a specific team instance)
      delete (delete a specific team instance)
      manage (update a specific team instance)
      browse (lists all teams in the system)
    team-channel ( list of all the teams you are a part of and their specific walls; like unstoppable stars and the 3rd team)
    mural-of-time (pictures)
    global-feed (shows different posts to the global chat in real time)
  

*new-partners
    next-steps
    first-product-order
    phases-of-business
    30-dcr
    90-dcr
    top-recommended-podcasts
      view
      manage (admin privilege)
    recommended-book-list
      view
      manage (admin privilege)
  

*inspiration_education  (each time a new instance is posted on one of these it could also show on the global feed or could make a post to ref it)
    motivation
      create (creates a post associated to the motivation channel)
      browse
      delete
      manage
    finance
      create
      browse
      delete
      manage
    health
      create
      browse
      delete
      manage
    emotional-health
      create
      browse
      delete
      manage
    misc
      create
      browse
      delete
      manage
  

*huddles_events (have route to create instance of event which can also be shown on calendar and have route to display event info specific for that huddle) (other communication can be on a specific team instance)
    huddle-info
    kickstart
      create (admin can book the next event on the calendar; redirects to event creation with team value already filled out)
      view  (users can see a list of events created for this team)
      chat (redirects to community chat for this teams instance)
    team-players
      create (admin can book the next event on the calendar ; redirects to event creation with team value already filled out)
      view (users can see a list of events created for this team)
      chat (redirects to community chat for this teams instance)
    hustle
      create (admin can book the next event on the calendar; redirects to event creation with team value already filled out)
      view (users can see a list of events created for this team)
      chat (redirects to community chat for this teams instance)
    event
      create (admin can book the next event on the calendar)
      view (display a specific event instance opened from the calendar)
      chat (redirects to community chat for this event instance)
  calendar (full calendar)
                  

  *team-building_revenue
      resources
      list
      craft-your-story
      conversations
      in-person-networking
      meet-and-greet1
      meet-and-greet2
      growing-network-tips
      products-retail-tips


*posts (global workflow endpoints for creating etc specific posts) (if coming from a specfic channel or team the associated info should be prepoulated) Everywhere needed will be redirected here
    create
     manage
     delete                                                               
--ends channels content
            
*contact-Us (not under channels)
  feedback
  report-bug
  recommend-podcast
  recommend-book


*Data tables needed
    Manageable Operator
    Association
    Relationship (follower, downline,team member, etc)
    Team ( a person has a specific "team member" association with any respective team)
    Channel (global, motivation, finance, health, emotional-health, etc) (a channel is just a free entity. Like "I am a channel. If you can get to me you can see me" Visibility restrictions controlled by the "role" on the managable operator.
    Question
    Response
    Event (admin have priviledge on posts and events to turn message into push/bell notification)
    Feedback
    Post (posts can be made from a specific operator to a specific team or channel) (admin have priviledge on posts and events to turn message into push/bell notification) (the blob on the post itself can only hold a set amount of data (ex.: 25MB). This data can be text, image or video.
    Roles (used as foreign key on operator instance; partner, admin, new partner, etc)
    Notification (notification instance ; send to specific person or distro of people or team, or everyone)
